@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

main{
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main p {
    font-size: 2rem;
    font-weight: bold;
}